{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="container">
    <table class = "table table-hover">
    <thead>
        <th>Symbol&nbsp </th>
        <th>Shares&nbsp  </th>
        <th>Price&nbsp  </th>
        <th>Transcated&nbsp  </th>
</thead>
    <tbody>
{% for x in range(result|length)%}
          <tr>
          <td> {{ result[x]["symbol"] }}</td>
          <td> {{ result[x]["shares"]}}</td>
          <td> ${{ result[x]["price"] }}</td>
          <td> {{ result[x]["time"] }}</td>
          </tr>
{% endfor %}
</table>
{% endblock %}